.AboutMe {
    height: 100vh;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.aboutMeTitle{
    position:relative;
    top: 0%;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

}
.textConteiner {
    padding: 1rem;
    background-color: #180a0a;
    position: absolute;
    z-index: 2;
    width: 30vw;
    left: 15%;
    top: 35%;
    display: grid;
    gap: 0.5rem;
}
.me {
    width: 120%;
}
.icon {
    width: 10vw;
    &:hover{
        transform: scale(1.1);
    }
}
.aboutMeTextTitleConteiner{
    width: 100%;
    border-top:solid black thin;
    border-bottom:solid black thin;
    position: relative;
    padding: 1rem;
    overflow: hidden;
}
.aboutMeTextTitle {
    font-size: 1rem;
    width: max-content;
    text-align: center;
    border-radius: 15px;
    background-color: transparent;
    color: white;
    animation: titlePass 10s linear infinite;
}
@keyframes titlePass {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }    
}
.aboutMeLittle {
    font-size: 0.7rem;
    width: 8rem;
    background: linear-gradient(#711a75, #f10086, #f582a7);
    border-radius: 15px;
    position: absolute;
    padding: 1rem;
    text-align: center;
}
.p1 {
    left: 80%;
    top: 90%;
}
.p2 {
    left: 80%;
    top: 90%;

}
.p3 {
    left: 80%;
    top: 90%;
}

.p4 {
    left: 80%;
    top: 90%;

}
.p5 {
    left: 80%;
    top: 90%;

}
.p6 {
    left: 80%;
    top: 90%;
}
.html{
    path{
        fill: #E9A6A6;
    }
}
.reactIcon{
    path{stroke:#E9A6A6 ;
        #Vector{
            fill: #E9A6A6;
        }
    }
}
.css,.cplusplus{
    path{
        fill:#864879;
    }
}
.js,.cplusplus{
    path{
        fill:#3F3351;
    }
}
.c{
    #Vector_4{
        fill: black;
    }
    path{
        fill:#864879 ;
    }
}
.matlab{
    path{
        fill:#E9A6A6
    }
}

@media all and (min-width: 600px) {
    .me {
        width: 80%;
    }
    .textConteiner {
        width: fit-content;
        top: 17%;
        height: 70vh;
    }
    .aboutMeLittle {
        font-size: 1rem;
        width: 25vh;
    }
    .icon {
        width: 5vw;
    }
    .p1 {
        left: 100%;
        top: 100%;
    }
    .p2 {
        left: 100%;
        top: 100%;
    
    }
    .p3 {
        left: 100%;
        top: 100%;
    }
    
    .p4 {
        left: 91%;
        top: 100%;
    
    }
    .p5 {
        left: 75%;
        top: 100%;
    
    }
    .p6 {
        left: 60%;
        top: 100%;
    }
    .aboutMeTextTitle{
        position: relative;
        font-size: 1.5rem;
    }
    .aboutMeTextTitleConteiner{
        width: 30rem;
        position: relative;
        top: 10%;
        margin-bottom: 1rem;
    }
}
