.AboutMe {
    height: 100vh;
    width: 100%;
    display: grid;
    justify-items: center;
    position: relative;
    overflow: hidden;
}
.aboutMeTitle {
    position: relative;
    top: 0%;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: absolute;
    top: 85%;
}
.me {
    width: 20rem;
    height: 15rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon {
    width: 10vw;
    &:hover {
        transform: scale(1.1);
    }
}
.shapesConteiner {
    position: absolute;
}
@keyframes shapeAppear {
        100%{
            transform: translate(0,0) rotateZ(1turn);
        }
}
.shapesConteiner:hover{
    animation: helicopter 1s linear;
}
@keyframes helicopter {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
.aboutMeText {
    font-size: 0.7rem;
    position: absolute;
    padding: 1rem;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8rem;
}
.rectangle {
    width: 7.5rem;
    height: 6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}
.circle {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.p0 {
    .circle,.rectangle{
        background-color: #864879;
    }
    top: 30%;
    left: 30%;
    transform: translate(-100vw,100vw);
}
.p1 {
    .circle,.rectangle{
        background-color: #1f1d36;
    }
    top: 30%;
    left: 70%;
    transform: translate(-100vw,-100vw);
}
.p2 {
    .circle,.rectangle{
        background-color: #864879;
    }
    top: 50%;
    left: 80%;
    transform: translate(-0vw,-100vw);
}
.p3 {
    .circle,.rectangle{
        background-color: #1f1d36;
    }
    top: 70%;
    left: 70%;
    transform: translate(100vw,-100vw);
}
.p4 {
    .circle,.rectangle{
        background-color: #864879;
    }
    top: 70%;
    left: 30%;
    transform: translate(100vw,50vw);
}
.p5 {
    .circle,.rectangle{
        background-color: #1f1d36;
    }
    top: 50%;
    left: 20%;
    transform: translate(-100vw,0);
}
.html {
    path {
        fill: #e9a6a6;
    }
}
.reactIcon {
    path {
        stroke: #e9a6a6;
        #Vector {
            fill: #e9a6a6;
        }
    }
}
.css,
.cplusplus {
    path {
        fill: #864879;
    }
}
.js,
.cplusplus {
    path {
        fill: #3f3351;
    }
}
.c {
    #Vector_4 {
        fill: black;
    }
    path {
        fill: #864879;
    }
}
.matlab {
    path {
        fill: #e9a6a6;
    }
}

@media all and (min-width: 600px) {
    .me {
        width:30vw;
        height: fit-content;
        top: 50%;
        left: 50%;
    }
    .icon {
        width: 5vw;
    }
    .aboutMeTextTitle {
        position: relative;
        font-size: 1.5rem;
    }
    .aboutMeTextTitleConteiner {
        width: 30rem;
        position: relative;
        top: 10%;
        margin-bottom: 1rem;
    }
    .shapesConteiner {
        position: absolute;
    }
    .shapesConteiner:hover{
        animation: helicopter 1s linear;
    }
    .aboutMeText {
        font-size: 1rem;
        position: absolute;
        padding: 1rem;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 12rem;
    }
    .rectangle {
        width: 11rem;
        height: 10rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 15px;
    }
    .circle {
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .p0{
        top: 25%;
        left:42% ;
    }
    .p1{
        top: 25%;
        left:58% ;
    }
    .p2{
        
        left:65% ;

    }
    .p3{
        top: 75%;
        left:58% ;

    }
    .p4{
        top: 75%;
        left:42% ;

    }
    .p5{
        left:35% ;
    }
    .icons{
        top: 86%;
    }
}
