.AboutMe {
  height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  position: relative;
  overflow: hidden;
}

.aboutMeTitle {
  position: relative;
  top: 0%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  position: absolute;
  top: 85%;
}

.me {
  width: 20rem;
  height: 15rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.icon {
  width: 10vw;
}

.icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.shapesConteiner {
  position: absolute;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.aboutMeText {
  font-size: 0.7rem;
  position: absolute;
  padding: 1rem;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 8rem;
}

.rectangle {
  width: 7.5rem;
  height: 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 15px;
}

.circle {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p0 {
  top: 30%;
  left: 30%;
  -webkit-transform: translate(-50vw, 50vw);
          transform: translate(-50vw, 50vw);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.p0 .circle, .p0 .rectangle {
  background-color: #864879;
}

.p1 {
  top: 30%;
  left: 70%;
  -webkit-transform: translate(-50vw, -50vw);
          transform: translate(-50vw, -50vw);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.p1 .circle, .p1 .rectangle {
  background-color: #1f1d36;
}

.p2 {
  top: 50%;
  left: 80%;
  -webkit-transform: translate(0vw, -50vw);
          transform: translate(0vw, -50vw);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.p2 .circle, .p2 .rectangle {
  background-color: #864879;
}

.p3 {
  top: 70%;
  left: 70%;
  -webkit-transform: translate(50vw, -50vw);
          transform: translate(50vw, -50vw);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.p3 .circle, .p3 .rectangle {
  background-color: #1f1d36;
}

.p4 {
  top: 70%;
  left: 30%;
  -webkit-transform: translate(50vw, 50vw);
          transform: translate(50vw, 50vw);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.p4 .circle, .p4 .rectangle {
  background-color: #864879;
}

.p5 {
  top: 50%;
  left: 20%;
  -webkit-transform: translate(0, 50vw);
          transform: translate(0, 50vw);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.p5 .circle, .p5 .rectangle {
  background-color: #1f1d36;
}

.shapeAppear {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform: translate(0, 0) rotateZ(1turn);
          transform: translate(0, 0) rotateZ(1turn);
}

.html path {
  fill: #e9a6a6;
}

.reactIcon path {
  stroke: #e9a6a6;
}

.reactIcon path #Vector {
  fill: #e9a6a6;
}

.css path,
.cplusplus path {
  fill: #864879;
}

.js path,
.cplusplus path {
  fill: #3f3351;
}

.c #Vector_4 {
  fill: black;
}

.c path {
  fill: #864879;
}

.matlab path {
  fill: #e9a6a6;
}

@media all and (min-width: 600px) {
  .me {
    width: 30vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    top: 50%;
    left: 50%;
  }
  .icon {
    width: 5vw;
  }
  .aboutMeTextTitle {
    position: relative;
    font-size: 1.5rem;
  }
  .aboutMeTextTitleConteiner {
    width: 30rem;
    position: relative;
    top: 10%;
    margin-bottom: 1rem;
  }
  .aboutMeText {
    font-size: 1rem;
    position: absolute;
    padding: 1rem;
    z-index: 2;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 12rem;
  }
  .rectangle {
    width: 11rem;
    height: 10rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 15px;
  }
  .circle {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .p0 {
    top: 25%;
    left: 42%;
  }
  .p1 {
    top: 25%;
    left: 58%;
  }
  .p2 {
    left: 65%;
  }
  .p3 {
    top: 75%;
    left: 58%;
  }
  .p4 {
    top: 75%;
    left: 42%;
  }
  .p5 {
    left: 35%;
  }
  .icons {
    top: 86%;
  }
  .aboutMeTitle {
    font-size: 4rem;
  }
}
/*# sourceMappingURL=aboutme.css.map */