.contactPage {
    height: 100vh;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 5%;
    position: relative;
    overflow: hidden;
}
.warn {
    top: 14%;
    position: absolute;
    justify-self: center;
    color: #ff4040;
    font-family: inherit;
    font-weight: 400;
    font-size: 1rem;
}

.contactBirds {
    width: 80vw;
    height: fit-content;
    position: absolute;
    top: 6%;
    left: 15%;
}
.enviame {
    color: white;
    font-weight: 400;
    text-align: center;
}
.contactConteiner {
    display: grid;
    gap: 1.5rem;
    justify-items: center;
}
.contactBox {
    border: solid;
    border-width: thin;
    border-color: white;
    border-radius: 5px;
    height: 27rem;
    width: 90vw;
    display: grid;
    padding: 5%;
}
.fill {
    display: grid;
    height: 70%;
}
.contactFill {
    background-color: transparent;
    outline: none;
    font-family: inherit;
    height: 50%;
    border: solid;
    border-color: white;
    border-width: thin;
    color: white;
    padding: 1rem;
    border-radius: 5px;
}
.contactMessage {
    background-color: transparent;
    background-color: transparent;
    outline: none;
    font-family: inherit;
    border: solid;
    border-color: white;
    border-width: thin;
    color: white;
    padding: 1rem;
    margin-top: -7rem;
    border-radius: 5px;
    font-weight: 300;
}
.big {
    width: 10rem;
    height: 4rem;
    font-size: 1.5rem;
    text-align: center;
    align-content: center;
    display: grid;
    margin-top: -1rem;
    border-width: thin;
    font-weight: 300;
    cursor: pointer;
}
.myPlaceHolder {
    position: relative;
    color: white;
    font-family: inherit;
    font-weight: 300;
    height: fit-content;
    width: fit-content;
}
.myPlaceLastHolder {
    position: relative;
    color: white;
    font-family: inherit;
    font-weight: 300;
    height: fit-content;
    width: fit-content;
    margin-top: -5rem;
}
.otherContact{
    font-size: .7rem;
    width: max-content;
    position: absolute;
    bottom: 2%;
}
.contactBoxConteiner{
    background-color: #F582A7;
    width: 100%;
    border-radius: 15px;
    height: 83vh;
    position: absolute;
    z-index: -3;
    display: grid;
    justify-items: center;
    align-content: center;
    bottom: 0%;
}
.buttonConteiner{
    background-color: #F10086;
    width: 100%;
    border-radius: 15px;
    height: 20vh;
    position: absolute;
    z-index: -2;
    display: grid;
    justify-items: center;
    align-content: center;
    bottom: 0;
}
.footer{
    background-color: #711A75;
    width: 100%;
    border-radius: 15px;
    height: 8vh;
    position: absolute;
    z-index: -1;
    bottom: -2%;
    display: grid;
    justify-items: center;
    align-content: center;
}
@media all and (min-width: 600px) {
    .contactPage {
        height: 100vh;
        width: 100%;
        display: grid;
        align-items: center;
        padding: 5%;
        justify-content: center;
    }
    .contactBirds {
        width: 10rem;
        visibility: hidden;
    }
    .contactBox {
        width: 30rem;
        height: 27rem;
        top: 34%;
        position: relative;
        transform: translateY(-50%);
    }
    .big {
        width: 8rem;
        height: 3rem;
        font-size: 1.5rem;
        text-align: center;
        align-content: center;
        display: grid;
        margin-top: -1rem;
        border-width: thin;
        font-weight: 300;
        bottom: 110%;
    }
    .otherContact{
        font-size: .7rem;
        width: max-content;
        position: absolute;
        bottom: 2%;
    }
    .contactBoxConteiner{
        background-color: #F582A7;
        width: 100%;
        border-radius: 15px;
        height: 90vh;
        position: absolute;
        z-index: -3;
        display: grid;
        justify-items: center;
        align-content: center;
        bottom: 0%;
    }
    .buttonConteiner{
        background-color: #F10086;
        width: 100%;
        border-radius: 15px;
        height: 20vh;
        position: absolute;
        z-index: -2;
        display: grid;
        justify-items: center;
        align-content: center;
        bottom: 0;
    }
    .footer{
        background-color: #711A75;
        width: 100%;
        border-radius: 15px;
        height: 8vh;
        position: absolute;
        z-index: -1;
        bottom: -2%;
        display: grid;
        justify-items: center;
        align-content: center;
    }
    .enviame {
        color: white;
        font-weight: 400;
        text-align: center;
        position: relative;
        top: -120%;    
    }
}
.good {
    border-color: greenyellow;
}
.error {
    border-color: #ff4040;
}
.green {
    color: greenyellow;
}
.more{
    background-color: transparent;
    border:solid;
    position: relative;
    font-family: inherit;
    border-width: thin;
    font-weight: lighter;
    margin-top: 1rem;
    padding:1rem;
    border-radius: 5px;
}
.more:hover{
    cursor: pointer;
    animation: shake .5s ease forwards;
}
@keyframes shake {
    0%{
        transform: rotateZ(0deg);
    }
    25%{
        transform: rotateZ(5deg);
    }
    75%{
        transform: rotateZ(-5deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
    
}