.home {
  height: 100vh;
  width: 100%;
  border-bottom: solid;
}

.header {
  background-color: #F10086;
  border-radius: 15px;
  position: absolute;
  height: 0;
  width: 100%;
  -webkit-animation: headerAprear .5s ease forwards;
          animation: headerAprear .5s ease forwards;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes headerAprear {
  100% {
    height: 20vh;
  }
}

@keyframes headerAprear {
  100% {
    height: 20vh;
  }
}

.headerText {
  -webkit-transform: translateY(-30vh);
          transform: translateY(-30vh);
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-animation: headerTextAppear .5s ease forwards;
          animation: headerTextAppear .5s ease forwards;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  margin-bottom: 2.5vh;
}

@-webkit-keyframes headerTextAppear {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes headerTextAppear {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.headerTitle {
  color: #711A75;
}

.headerSubtitle {
  font-size: 1rem;
  font-weight: lighter;
}

.heroSection {
  background-color: #F582A7;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  -webkit-animation: heroAprear .5s ease forwards;
          animation: heroAprear .5s ease forwards;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
  top: 0%;
  left: 0%;
  height: 0;
}

@-webkit-keyframes heroAprear {
  100% {
    height: 90vh;
  }
}

@keyframes heroAprear {
  100% {
    height: 90vh;
  }
}

.heroTexts {
  position: absolute;
  top: 63%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: hidden;
  -webkit-animation: heroTextAppear .5s ease forwards;
          animation: heroTextAppear .5s ease forwards;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

@-webkit-keyframes heroTextAppear {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes heroTextAppear {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.heroText {
  text-align: center;
  color: #F582A7;
  font-size: 1rem;
}

.A {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.noteBook {
  position: relative;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100vw;
  visibility: hidden;
  -webkit-animation: noteBook .5s ease forwards;
          animation: noteBook .5s ease forwards;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.noteBook #top {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  transform-box: viewbox;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-animation: noteBookTop .8s ease forwards;
          animation: noteBookTop .8s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes noteBook {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes noteBook {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@-webkit-keyframes noteBookTop {
  0% {
    -webkit-transform: rotateX(89deg) translateY(-500%);
            transform: rotateX(89deg) translateY(-500%);
  }
  1% {
    -webkit-transform: rotateX(88deg) translateY(-70%);
            transform: rotateX(88deg) translateY(-70%);
  }
  7% {
    -webkit-transform: rotateX(85deg) translateY(-50%);
            transform: rotateX(85deg) translateY(-50%);
  }
  10% {
    -webkit-transform: rotateX(80deg) translateY(0);
            transform: rotateX(80deg) translateY(0);
  }
  11% {
    -webkit-transform: rotateX(70deg) translateY(0);
            transform: rotateX(70deg) translateY(0);
  }
  100% {
    -webkit-transform: rotateX(0deg) translateY(0%);
            transform: rotateX(0deg) translateY(0%);
  }
}

@keyframes noteBookTop {
  0% {
    -webkit-transform: rotateX(89deg) translateY(-500%);
            transform: rotateX(89deg) translateY(-500%);
  }
  1% {
    -webkit-transform: rotateX(88deg) translateY(-70%);
            transform: rotateX(88deg) translateY(-70%);
  }
  7% {
    -webkit-transform: rotateX(85deg) translateY(-50%);
            transform: rotateX(85deg) translateY(-50%);
  }
  10% {
    -webkit-transform: rotateX(80deg) translateY(0);
            transform: rotateX(80deg) translateY(0);
  }
  11% {
    -webkit-transform: rotateX(70deg) translateY(0);
            transform: rotateX(70deg) translateY(0);
  }
  100% {
    -webkit-transform: rotateX(0deg) translateY(0%);
            transform: rotateX(0deg) translateY(0%);
  }
}

@media all and (min-width: 600px) {
  .noteBook {
    width: auto;
  }
  .header {
    top: 0;
  }
  .heroTexts {
    top: 58%;
  }
  .heroText {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=home.css.map */