.movingArray{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    gap: 1rem;
    border-top:solid black thin;
    border-bottom:solid black thin;
    padding: 1rem;
}
.infoBox{
    width: fit-content;
    border:solid;
    border-color: black;
    border-width: thin;
    padding: 1rem;
    font-size: .7rem;
    height: 8rem;
    border-radius: 10px;
    position:relative;
    left: -490vw;
}
.infoInside{
    color: white;
    width: 6rem;
}
@media all and (min-width:600px) {
        .infoInside{
            color:#180A0A;
            width: 10rem;
            font-size: 1rem;
        }
        .movingArray{
            width: 30%;
            left: 10%;
            border-top: solid thin #180A0A;
            border-bottom: solid thin #180A0A;
            padding: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }

}