.projectCard
{
    display: flex;
    padding: 1rem;
    gap: .5rem;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
}
.CardImage{
    width: 30vw;
    height: 7rem;
}
.cardHidenLeft
{
    transform: translateX(-200%);
}
.cardHidenRigth
{
    transform: translateX(200%);
}
.cardText
{
    display: grid;
    gap: .5rem;
}
.cardTitle
{
    font-size: 1rem;
}
.Violet
{
    background-color: #711A75;
}
.pink
{
    background-color: #F10086;
}
.ligthPink
{
    background-color: #F582A7;
}
.cardDescription
{
    color: #180A0A;
    font-size: small;
    height: 6rem;
}
.cardAppear
{
    animation: cardAppear .5s ease forwards ;
}
@keyframes cardAppear {
    
    100%{
        transform: translateX(0);
    }    
}
@media all  and (min-width:600px)
{
    .projectCard
    {
        width: 35vw;
        height: 25vh;
    }
    .CardImage{
        height: 15vh;
    }
    .cardDescription{
        font-size: larger;
    }
    .cardTitle{
        font-size: 2rem;
    }
    .more{
        font-size: 2rem;
    }
    .latestProjects{
        font-size: 4rem;
    }
}