.projectCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-radius: 10px;
}

.projectCard:hover {
  -webkit-animation: big 0.5s ease forwards;
          animation: big 0.5s ease forwards;
}

@-webkit-keyframes big {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes big {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  25% {
    -webkit-transform: rotateZ(2.5deg);
            transform: rotateZ(2.5deg);
  }
  75% {
    -webkit-transform: rotateZ(-2.5deg);
            transform: rotateZ(-2.5deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  25% {
    -webkit-transform: rotateZ(2.5deg);
            transform: rotateZ(2.5deg);
  }
  75% {
    -webkit-transform: rotateZ(-2.5deg);
            transform: rotateZ(-2.5deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

.CardImage {
  width: 30vw;
  height: 7rem;
  border-radius: 10px;
}

.cardHidenLeft {
  -webkit-transition: -webkit-clip-path 0.5s ease-in-out;
  transition: -webkit-clip-path 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out, -webkit-clip-path 0.5s ease-in-out;
  -webkit-clip-path: circle(5% at 10% 90%);
          clip-path: circle(5% at 10% 90%);
}

.cardHidenMid {
  -webkit-transition: -webkit-clip-path 0.5s ease-in-out;
  transition: -webkit-clip-path 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out, -webkit-clip-path 0.5s ease-in-out;
  -webkit-clip-path: circle(5% at 50% 50%);
          clip-path: circle(5% at 50% 50%);
}

.cardHidenRigth {
  -webkit-transition: -webkit-clip-path 0.5s ease-in-out;
  transition: -webkit-clip-path 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out, -webkit-clip-path 0.5s ease-in-out;
  -webkit-clip-path: circle(5% at 90% 10%);
          clip-path: circle(5% at 90% 10%);
}

.cardText {
  display: -ms-grid;
  display: grid;
  color: white;
}

.cardTitle {
  font-size: 1rem;
}

.Violet {
  background-color: #711a75;
  background-color: #864879;
}

.pink {
  background-color: #f10086;
  background-color: #3f3351;
}

.ligthPink {
  background-color: #f582a7;
  background-color: #e9a6a6;
}

.cardDescription {
  color: white;
  font-size: small;
  height: 6rem;
}

.cardAppear {
  -webkit-transition: -webkit-clip-path 0.5s ease-in-out;
  transition: -webkit-clip-path 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out, -webkit-clip-path 0.5s ease-in-out;
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

@-webkit-keyframes cardAppear {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes cardAppear {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media all and (min-width: 600px) {
  .projectCard {
    width: 25vw;
    height: 50vh;
    display: -ms-grid;
    display: grid;
  }
  .CardImage {
    height: 100%;
    width: 100%;
  }
  .cardDescription {
    font-size: 1rem;
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .cardTitle {
    font-size: 1.5rem;
  }
  .more {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=projectCard.css.map */